body {
  background-image: url("images/Purim.jpg");
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 700px) {
  h2 {
    display: none;
  }
}
section {
  margin-top: 130px;
}

#imagelist {
  font-size: 0;
  width: 261px; /*75+4(2pxx2)+(4pxx2) x 3*/
  margin: 0 auto;
}

#imagelist a {
  margin: 2px;
  border: 4px solid transparent;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px; /*for other browsers*/
}

#imagelist a:hover {
  border-color: white;
}

#imagelist img {
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

/*body{
background-image: url('images/wooden.jpg');
background-size: contain;
background-repeat: no-repeat;
}  */

@media screen and (max-width: 700px) {
  body {
    background-image: none;
    background-color: rgb(222, 243, 209);
  }
  section {
    margin-top: 20px;
  }

  h2 {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    color: rgb(146, 20, 20);
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
  }
}
